:root{
    --dark: #020902;
    --light: #fff;
    --accent: #a40000;
}

* {
    font-family: 'Times New Roman', Times, serif;
}

html {
    height: 100%;
}

body {
    background-color: var(--dark);
}

header{
    background-image: linear-gradient(gray, var(--dark), gray, var(--dark), gray, var(--dark), gray, var(--dark) );
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    color: var(--light);
}

footer{
    background-color: #3d3d3d;
    display: flex;
    color: var(--light);
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}

div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    color: var(--light);
}

nav{
    display: flex;
    justify-content: right;
    height: 2em;
    align-items: center;
}

li a, nav a{
    text-decoration: none;
    color: var(--light);
}

nav a:link {
    transition: 0.5s box-shadow;
}

nav a:link:hover{
    box-shadow: 0 0 5px 5px gray;
}

nav a {
    margin-right: 1.75%;
    padding: 1%;
    background-color: var(--accent);
    border-radius: 1px 25px 1px 25px;
}


a img {
    height: auto;
    width: 100%;
    
}

h1 {
    float: left;
    font-size: 900%;
}

h2{
    padding-top: 2%;
    margin-top: 100px;
}

h4{
    margin-bottom: 0;
    margin-top: .5%;
}

h5 {
    margin-top: 0;
    margin-bottom: .5%;
}

.work-container {
    position: relative;
    text-align: center;
    color: var(--dark);
    max-width: 500px;
}

.work-container h3{
    width: 100%;
    background-image: radial-gradient(black 0%, transparent 75%);
    position: relative;
    bottom: 2px;
    left: 0;
    margin: 0;
    padding: 1;
    color: var(--light);
}

#container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#profile img {
    height: auto;
    width: 100%;
    max-width: 600px;
}

#First {
    max-width: 600px;
}

@media screen and (max-width: 1439px){
    h1{
        font-size: 450%;
    }
    
    .work-container {
        max-width: 350px;
        padding-top: 5px;
    }
    
    .work-container h3 {
        position: relative;
    }
    
    #profile img {
        max-width: 350px;
    }
}

@media screen and (max-width: 767px) {
    nav a {
        padding: 1.7%;
    }

    h1 {
        font-size: 250%;
    }
    
    .work-container {
        max-width: 280px;
        padding: 10px;
    }

    #profile img {
        max-width: 160px;
    }

    #First {
        padding-left: 0;
    }

    #container {
        justify-content: center;

    }
}